### Browsing csv from open DOSM
Date : 6 Oct 2023

In [3]:
import pandas as pd
import requests
import pprint

In [7]:
df =pd.read_csv('data/cpi_core.csv')

In [10]:
df.head()

,date,overall,food_beverage,clothing_footwear,housing_utilities,furnishings,health,transport,communication,recreation_culture,education,hospitality,misc
0,2015-01-01,109.3,114.8,98.6,111.0,106.8,111.7,104.8,97.2,105.3,111.1,118.6,106.2
1,2015-02-01,109.7,115.1,98.2,112.2,106.6,112.1,104.9,97.2,105.7,111.7,118.8,106.7
2,2015-03-01,109.8,115.2,98.6,112.2,106.7,112.5,105.0,97.2,105.5,111.8,119.2,107.0
3,2015-04-01,111.2,116.8,99.4,112.4,109.0,114.6,105.9,100.2,106.5,112.4,121.4,109.7
4,2015-05-01,111.7,117.2,99.5,113.3,109.4,114.9,106.3,100.3,106.7,112.3,121.9,110.0